#about .input-group {
  display: flex;
  gap: 16px;
}

#about textarea {
  width: 100% !important;
  min-height: 120px;
  max-height: 600px;
}

#about .input-wrapper,
.textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;

  label {
    font-family: var(--font-family-body);
    color: var(--text-body);
    font-size: 14px;
  }

  input,
  textarea {
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    height: 48px;
    padding-left: 16px;
    background-color: var(--input-base);
    font-family: var(--font-family-body);
    color: var(--text-heading);

    ::placeholder {
      font-family: var(--font-family-body);
      color: var(--input-placeholder);
      font-size: 16px;
    }
  }

  .error-required {
    display: none;
    gap: 8px;
    margin-top: -4px;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
    }

    .error-msg {
      font-family: var(--font-family-body);
      color: var(--danger);
      font-size: 12px;
    }
  }

  form.form-submitted input:invalid {
    border-color: var(--danger, red);
  }

  form.form-submitted input:invalid + .error-required {
    display: flex;
  }

  input:focus {
    outline: none;
    border: 1px solid var(--brand-light);
  }

  input[type="datetime-local"] {
    color: var(--text-heading);

    ::placeholder {
      color: var(--input-placeholder);
    }
  }
}

#about .toggle-switch-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;

  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  height: 48px;
  background-color: var(--input-base);
  font-family: var(--font-family-body);
  color: var(--text-heading);
  position: relative;
}

#about .toggle-switch-wrapper::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  background-color: #2d3136;
  border-radius: 6px;
  transition: transform 0.2s ease;
  z-index: 0;
}

#about .toggle-switch-wrapper:has(.type2:checked)::before {
  transform: translateX(100%);
}

#about .toggle-switch-wrapper input[type="radio"] {
  height: 100%;
  width: 100%;
  padding-left: 0;

  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
}

#about .toggle-switch-wrapper .type1::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;

  background-color: white;

  mask-image: url("../../assets/icons/building-2.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#about .toggle-switch-wrapper .type1::after {
  content: "Presencial";
  z-index: 1;
  transition: transform 0.2s ease;
}

#about .toggle-switch-wrapper .type2::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;

  background-color: white;

  mask-image: url("../../assets/icons/video.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#about .toggle-switch-wrapper .type2::after {
  content: "Online";
  z-index: 1;
  transition: transform 0.2s ease;
}

#about .toggle-switch-wrapper .type1:checked,
.type2:checked {
  width: 100%;
}

#about .toggle-switch-wrapper .type1:checked::before,
#about .toggle-switch-wrapper .type2:checked::before {
  /*icone*/
  background-color: var(--brand-light);
}

#about .toggle-switch-wrapper .type1:checked::after,
#about .toggle-switch-wrapper .type2:checked::after {
  /*texto*/
  font-weight: bold;
}

#about .textarea-wrapper textarea {
  padding: 16px;
}
