footer {
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  line-height: 150%;
}

footer ul {
  display: flex;
  gap: 16px;
}

footer ul li {
  list-style-type: none;
  line-height: 150%;
}

footer p {
  line-height: 150%;
}
