header {
  background-color: var(--surface-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

header ul a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li {
  list-style-type: none;
}

header ul li:last-child img {
  height: 40px;
  width: 40px;
  border-radius: 999px;
}

header ul li:first-child a:hover {
  color: var(--brand-color);
}
