section {
  display: flex;
  gap: 32px;
}

section > .left {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.left .noticias {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.left .conteudotudo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.left .foto {
  width: 176px;
  height: 176px;
}

.left .texto {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.left .texto p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

section > aside {
  flex: 2;
}

section aside .ads {
  width: 100%;
  object-fit: cover;
  display: block;
}

section aside .topicos {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 24px;
}

section aside .top {
  display: flex;
  gap: 15px;
  height: 72px;
}

section aside .top p {
  font-weight: 900;
  color: var(--text-color-primary);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

section aside .top img {
  height: 72px;
  width: 72px;
}
