main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 40px 32px 80px;
}

#destaques .n1,
#destaques .n2,
#destaques .n3,
#destaques .n4,
#destaques .n5 {
  height: 200px;
  background-size: cover; /* faz a imagem cobrir TODO O CONTAINER */
  background-position: center; /* centraliza o “crop” */
  background-repeat: no-repeat;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 4px;
}

#destaques p,
h1,
h3 {
  color: var(--text-color-primary);
}

#destaques .n1 {
  background-image: linear-gradient(
      to top,
      #020617,
      /* transparente no fim */ #02061700
    ),
    url(/assets/Image\ 01.png);
  grid-area: n1;
  height: auto;
  padding: 24px;
}

#destaques .n2 {
  background-image: linear-gradient(
      to top,
      #020617,
      /* transparente no fim */ #02061700
    ),
    url(/assets/Image\ 02.png);
  grid-area: n2;
}

#destaques .n3 {
  background-image: linear-gradient(
      to top,
      #020617,
      /* transparente no fim */ #02061700
    ),
    url(/assets/Image\ 03.png);
  grid-area: n3;
}

#destaques .n4 {
  background-image: linear-gradient(
      to top,
      #020617,
      /* transparente no fim */ #02061700
    ),
    url(/assets/Image\ 04.png);
  grid-area: n4;
}

#destaques .n5 {
  background-image: linear-gradient(
      to top,
      #020617,
      /* transparente no fim */ #02061700
    ),
    url(/assets/Image\ 05.png);
  grid-area: n5;
}

#destaques {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* 2/4 para a grande, 1/4 + 1/4 para as pequenas */
  grid-template-rows: auto auto;
  grid-template-areas:
    "n1  n2 n3"
    "n1 n4 n5";

  gap: 16px;
}
