#mais-lidas .noticia {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 24px 0px;
  align-items: stretch;
}

#mais-lidas .img {
  height: 160px;
}

#mais-lidas .noticia .noticias {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#mais-lidas .noticias .img {
  background-size: cover; /* faz a imagem cobrir TODO O CONTAINER */
  background-position: center; /* centraliza o “crop” */
  background-repeat: no-repeat;
}

#mais-lidas .noticias:nth-child(1) .img {
  background-image: url(/assets/Image\ 06.png);
}

#mais-lidas .noticias:nth-child(2) .img {
  background-image: url(/assets/Image\ 07.png);
}

#mais-lidas .noticias:nth-child(3) .img {
  background-image: url(/assets/Image\ 08.png);
}

#mais-lidas .noticias:nth-child(4) .img {
  background-image: url(/assets/Image\ 09.png);
}

#mais-lidas .noticia .noticias .img .tag {
  margin-top: 8px;
  margin-left: 8px;
}

#mais-lidas .noticia .noticias {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
