@import url(/styles/fields/index.css);

main .main-container #child-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
  border: none;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
}

input[type="date"] {
  position: relative;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  &::before {
    content: "";
    position: absolute;
    background: url(/assets/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;

    top: 50%;
    transform: translateY(-50%);
  }
}

select {
  background: url(/assets/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}
