* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  background-color: var(--background-default);
}

#page {
  width: 1120px;
  margin: 88px auto 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#title-page {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 28px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

.li-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}

h1,
h2,
.li-title {
  color: var(--text-primary);
}

p {
  color: var(--text-secondary);
}

.headline {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-headline);
}

#description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  font-style: italic;
}

#content-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

#title-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style-position: inside;
}

span {
  font-weight: bold;
}

.card-travel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul li {
  font-size: 16px;
  list-style-type: disc;
}

.divisor {
  height: 1px;
  background-color: var(--border-primary);
  width: 100%;
}

.historia {
  color: var(--accent-blue);
}

.casais {
  color: var(--accent-purple);
}

.familias {
  color: var(--accent-pink);
}

.orçamento {
  color: var(--accent-orange);
}

#msg {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: "Alice", serif;
  margin-bottom: 48px;
}
